// Sheffield Bioinformatics Core Configuration Profile - ShARC
// Base Institutional Configuration


// nf-core specific parameters displayed in header summary of each run

params {

  config_profile_description = 'Sheffield Bioinformatics Core - stanage'
  config_profile_contact = 'Sheffield Bioinformatics Core (bioinformatics-core@sheffield.ac.uk)'
  config_profile_url = 'https://docs.hpc.shef.ac.uk/en/latest/sharc/index.html'

}


// hpc resource limits

params {

  max_cpus = 64
  max_memory = 1007.GB
  max_time = 96.h

}


// hpc configuration specific to stanage

process {

  // scheduler

  executor = 'slurm'
  penv = 'smp'

}


// optional executor settings

executor {

  queueSize = 10
  submitRateLimit = '1 sec'

}


// container engine

singularity {

  enabled = true
  autoMounts = true

}
